{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='eda.css') }}" />
    <title>Exploratory Data Analysis</title>
</head>

<body class="font-mono">
    <div class="mt-3 mb-1 flex items-center justify-center h-screen">
        <div class="p-12 max-w-6xl bg-white rounded-lg overflow-hidden shadow-lg">
            <div>
            <h1 class="font-bold text-2xl mb-2">Exploratory Data Analysis</h1>
            </div>
            <hr />
            <br />

            <h2 class="font-bold text-xl">Data Preprocessing and Feature Engineering</h2>
            <br />
            Before preprocessing I formatted the original data .csv file to strip it of excess whitespace to help with general readability. 
            I then observed basic information about the dataset, such as the head of the dataset, information about the columns, and number of unique values per column.
            I began feature engineering which consisted of data cleaning and feature reduction. I determined several features to drop first as they would not have a meaningful contribution to the results: 
            <br />
            <br />
            <ul class="list-disc list-inside">
                <li>Applicant_ID</li>
                <li>Owned_Mobile_Phone, Owned_Work_Phone, Owned_Phone, Owned_Email</li>
                <li>Job_Title</li>
                <li>Total_Family_Members, Total_Children</li>
                <li>Total_Bad_Debt, Total_Good_Debt</li>
            </ul>
            <br />
            Total_Bad_Debt and Total_Good_Debt are already calculated into <b>Status</b> which is the target variable.

            After dropping those features, I adjusted values/labels for several columns to account for the original Chinese translation. In Total_Income the original values are listed in Yuan, so these were converted to USD for user input in the form. For Income_Type, Education_Type, Family_Status, and Housing_Type, I converted these labels to their American counterparts.
            <br />
            <br />
            Then categorical variables were converted into dummy variables. These included Applicant_Gender, Employment_Status, Family_Status, Education_Completed, and Housing_Type. The final features to be used in model training are the following:
            <br />
            <br />
            <ul class="list-disc list-inside">
                <li>Applicant_Gender</li>
                <li>Applicant_Age</li>
                <li>Total_Income</li>
                <li>Employment_Status</li>
                <li>Years_of_Working</li>
                <li>Education_Completed</li>
                <li>Family_Status</li>
                <li>Housing_Type</li>
                <li>Owned_Car</li>
                <li>Owned_Realty</li>
            </ul>

            <br />
            <h2 class="font-bold text-xl">Trend Analysis</h2>
            <br />
            Several plots were generated during EDA to help understand the relationship between features prior to training the model:
            <br />
            <br />

            <!-- Credit to https://www.w3schools.com/howto/howto_js_slideshow.asp -->
            <!-- Slideshow container -->
            <div class="slideshow-container">

            <div class="mySlides">
                <div class="numbertext">1 / 11</div>
                <img src="../static/images/plots/applicant_gender.png" alt="Plot of number of applicants per gender" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 11</div>
                <img src="../static/images/plots/applicant_car.png" alt="Plot of number of applicants that own a car" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 11</div>
                <img src="../static/images/plots/applicant_realty.png" alt="Plot of number of applicants that own realty" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 11</div>
                <img src="../static/images/plots/applicant_family.png" alt="Plot of number of applicants per family status" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 11</div>
                <img src="../static/images/plots/applicant_housing.png" alt="Plot of number of applicants per housing type" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 11</div>
                <img src="../static/images/plots/applicant_employment.png" alt="Plot of number of applicants per employment status" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">7 / 11</div>
                <img src="../static/images/plots/applicant_education.png" alt="Plot of number of applicants per highest education completed" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">8 / 11</div>
                <img src="../static/images/plots/applicant_status.png" alt="Plot of number of applicants per approval status" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">9 / 11</div>
                <img src="../static/images/plots/applicant_age.png" alt="Plot of distribution of applicant age" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">10 / 11</div>
                <img src="../static/images/plots/applicant_worked.png" alt="Plot of distribution of total years worked" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">11 / 11</div>
                <img src="../static/images/plots/applicant_income.png" alt="Plot of distribution of total annual income" style="width:100%">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
            <span class="dot" onclick="currentSlide(7)"></span>
            <span class="dot" onclick="currentSlide(8)"></span>
            <span class="dot" onclick="currentSlide(9)"></span>
            <span class="dot" onclick="currentSlide(10)"></span>
            <span class="dot" onclick="currentSlide(11)"></span>
            </div> 

        </div>
    </div>
</body>
    
<script>
    // Credit to https://www.w3schools.com/howto/howto_js_slideshow.asp
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
    }
</script>
{% endblock %}